body.loading div#app * {
    filter: blur(1px);
    pointer-events:none;
}

.modal.loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .2 )
    url('/img/loader.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal.loading {
    display: block;
}

.text-muted {
    text-decoration: line-through !important;
}

.preview {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.preview_image img {
    max-height:150px;
    max-width: 150px;
}

.preview_image {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    height: 150px;
    width:150px;
}

.controls {
    opacity: 0.2;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -ms-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}

.preview_image:hover .controls {
    opacity:1;
}

.preview_image_container {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    height: 190px;
}

input[readonly] {
    pointer-events: none;
}

.addPercent:after {
    content:"%";
}

.addCash:after {
    content:" €";
}