// main: ../main.scss

$white: #ffffff;

$black: #323234;

$accent: #1f9363;

$accent-light: #1fe598;

$font-primary-light: "DINPro Light", sans-serif;
$font-primary-regular: "DINPro Regular", sans-serif;
$font-primary-medium: "DINPro Medium", sans-serif;
$font-primary-bold: "DINPro Bold", sans-serif;

$font-secondary: "NeutraDisp Titling", sans-serif;
